<h1>Dashboard</h1>

<div class='container-fluid bg-primary'>

    <div class='row justify-content-around'>

        <div class='col-md-3'>

            <div class='listedGroupsContainer card'>

                <a data-toggle='collapse' href='#projectChannelsCollapse' role='button' aria-expanded='false'
                    aria-controls='projectChannelsCollapse'>Project Channels</a>
                <div class='collapse groupListCollapse' id='projectChannelsCollapse'>
                    {{#each channels}}
                    <a href='#'>{{name}}</a>
                    {{/each}}
                </div>

                <a data-toggle='collapse' href='#groupChatsCollapse' role='button' aria-expanded='false'
                    aria-controls='groupChatsCollapse'>Group Chats</a>
                <div class='collapse groupListCollapse' id='groupChatsCollapse'>
                    {{#each groups}}
                    <a href='#'>{{name}}</a>
                    {{/each}}
                </div>

                <a data-toggle='collapse' href='#dmsCollapse' role='button' aria-expanded='false'
                    aria-controls='dmsCollapse'>Project Channels</a>
                <div class='collapse groupListCollapse' id='dmsCollapse'>
                    {{#each dms}}
                    <a href='#'>{{name}}</a>
                    {{/each}}
                </div>
            </div>

        </div>

        <div class='col-md-3'>

            <div class='messageBoardContainer card'>
                <h2>message board</h2>
            </div>

        </div>

        <div class='col-md-3'>

            <div class='messageGroupInfoContainer card'>
                <h2>group info</h2>
            </div>

        </div>

    </div>

</div>